.bike-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-inline: 20px;
  padding-block: 0 60px;
}

.bike-img {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bike-img img {
  flex: 1;
  min-width: 200px;
  width: 100%;
  height: auto;

  cursor: pointer;
}

.bike-img img:first-child {
  min-width: 100%;
}

.content-buy {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  gap: 8px 12px;
}

.content-buy .bttn {
  grid-row: span 2;
}

.content-buy span {
  display: flex;
  align-items: center;
  justify-self: start;
  background-color: var(--c12);
  border-radius: 4px;
  padding: 4px 8px;
}

.content-buy span:nth-child(2)::before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  background: url("../../img/icones/entrega.svg");
}

.content-buy span:nth-child(3)::before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  background: url("../../img/icones/estoque.svg");
}

.bike-info h3,
.bike-esp h3 {
  text-transform: uppercase;
  margin-bottom: 12px;
}

.bike-info ul {
  background-color: var(--c12);
  padding: 32px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 32px;
  align-items: center;
}

.bike-info ul > li > img {
  height: 24px;
  width: 24px;
}

.bike-esp ul {
  background-color: var(--c12);
  padding: 32px;
  border-radius: 4px;
}

.bike-esp ul li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.bike-esp ul li + li {
  border-top: 1px solid var(--c11);
}

.bike-list {
  padding-top: 60px;
  padding-inline: 20px;
}

#bike .list {
  grid-template-columns: repeat(2, 1fr);
}

/* BIKE INSURANCE */

.bike-insurance {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding-inline: 0 20px;
}

.bike-insurance img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bike-insurance-content {
  padding-inline: 20px;
  padding-block: 180px;
}

@media (max-width: 860px) {
  .bike-grid {
    grid-template-columns: 1fr;
  }

  .bike-insurance {
    grid-template-columns: 1fr;
  }

  .bike-insurance-content {
    padding-block: 60px;
  }

  .bike-insurance img {
    display: none;
  }
}

@media (max-width: 440px) {
  .bike-info ul {
    grid-template-columns: 1fr;
  }
}
