a.actual-page {
  color: var(--p1);
  border-color: var(--p1);
  transition: 200ms;
}

.questions dl dt.condense::after {
  rotate: 360deg;
}

.questions dl dd.appear {
  display: block;
}

.animation {
  opacity: 0;
}

.animation.ativo {
  opacity: 1;
  transition: 300ms;
}

/* Sticky Menu */
.sticky {
  position: sticky;
  top: 0;
  z-index: 300;
}
