.full-black-bg,
.intro-bg {
  background-color: var(--c12);
  max-width: 100vw;
}

.intro-bg {
  box-shadow: inset 0 -120px var(--c0);
  background: var(--c12) url(../../img/dec/bottom-left.svg) no-repeat bottom
    140px left 20px;
}

.insurance-bg {
  background-color: var(--c11);
}

.bike-bg {
  background: linear-gradient(to right, var(--c0) 25%, var(--c11) 0%);
}

.shadow.title-bg {
  box-shadow: inset 0 120px var(--c0), inset 0 -120px var(--c12);
}

.title-bg {
  background-color: var(--c11);
}

#contact,
#budget {
  background: linear-gradient(var(--c11) 600px, var(--c1) 0px);
}

@media (max-width: 1000px) {
  .bike-bg {
    background: linear-gradient(to bottom, var(--c0) 25%, var(--c11) 0%);
  }
}

@media (max-width: 860px) {
  .shadow.title-bg {
    box-shadow: none;
  }
}
