.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 32px;
}

.navegation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.navegation a {
  color: var(--c0);
  padding: 16px 0;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.2s;
}

.navegation a:hover {
  border-color: var(--c0);
  border-radius: 4px;
}

@media (max-width: 780px) {

  .header {
    gap: 20px;
    justify-content: center;
  }

  .navegation a {
    border: none;
    background-color: #111111;
    padding: 12px 16px;
  }
}

@media (max-width: 600px) {
  .header {
    gap: 16px;
  }

  .navegation a {
    padding: 8px 12px;
    font-size: 1rem;
  }
}
