.bikes-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-block: 60px;
  padding-inline: 20px;
}

.bikes-img {
  position: relative;
}

.bikes-img img {
  height: auto;
  width: 100%;
}

.bikes-img span {
  background-color: #000;
  padding: 8px 16px 8px 8px;
  display: inline-block;

  position: absolute;
  top: 20px;
  right: 0px;

  border-radius: 4px 0 0 4px;
}

.bikes-content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bikes-content h3,
.bikes-content p {
  grid-column: 1/-1;
}

.bikes-content h3::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--p1);
  margin-bottom: 8px;
}

.bikes-content a {
  place-self: end;
}

.bikes-content ul {
  display: grid;
  gap: 10px;
}

.bikes-content ul li {
  display: flex;
  align-items: center;
}

.bikes-content ul li img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 1000px) {
  .bikes-desc {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-block: 40px;
  }
}

@media (max-width: 700px) {
  .bikes-content {
    grid-template-columns: 1fr;
  }

  .bikes-content ul {
    margin-bottom: 32px;
    grid-template-columns: 1fr 1fr;
  }

  .bikes-content a {
    place-self: start;
  }
}
