#insurance .insurance {
  padding-top: 0px;
}

.insurance-topics,
.questions {
  padding: 60px 0;
}

.insurance-topics,
.insurance-topics h2,
.questions {
  padding-inline: 20px;
}

.insurance-topics ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 40px;
}

.insurance-topics ul li * + * {
  margin-top: 8px;
}

.questions div {
  padding: 20px;
  border-radius: 4px;
}

.questions div:nth-child(odd) {
  background-color: var(--c1);
}

.questions dl dt {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.questions dl dt::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 8px;
  background-color: var(--p1);
}

.questions dl dt::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url(../../img/icones/seta-abrir.svg);
}

.questions dl dd {
  margin-top: 16px;
  padding-left: 20px;
}

@media (max-width: 600px) {
  .insurance-topics ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 400px) {
  .insurance-topics ul {
    grid-template-columns: 1fr;
  }
}
