.list-bike {
  padding: 60px 20px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  overflow-x: auto;
  min-width: 280px;
  padding-bottom: 20px;
}

.list li {
  min-width: 280px;
}

.list li h3 {
  display: flex;
  align-items: center;
}

.list a {
  display: block;
}

.list a img {
  max-width: 100%;
  height: auto;
}

.list li h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--p1);
  transition: 0.3s;
}

.list li a:hover h3::before {
  height: 22px;
}

.list li p {
  margin-left: 22px;
}

@media (max-width: 1024px) {
  .list {
    gap: 20px;
  }

  .list li a:hover h3::before {
    height: 8px;
  }
}

@media (max-width: 780px) {
  .list {
    gap: 10px;
  }
}
