.insurance-bg {
  background-color: var(--c11);
}

.insurance {
  padding-top: 120px;
  margin-bottom: 60px;
}

.insurance>ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
}



.insurance>ul>li {
  padding: 32px 32px 32px 60px;
  border-radius: 5px;
  background-color: var(--c12);
  margin-bottom: 120px;
}

.insurance>ul>li>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
}

.insurance>ul>li>div>span::after {
  content: "mensal";
  display: block;
  position: absolute;
  font-size: 0.875rem;
  text-transform: lowercase;
  color: var(--c6);
  margin-left: 45px;
}

.insurance-advantages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}

.insurance-advantages li {
  position: relative;
}

.insurance-advantages li::before {
  content: "✓";
  display: inline-block;
  color: var(--p1);
  left: -25px;
  position: absolute;
}