.partners {
  padding-top: 60px;
  padding-bottom: 120px;
  padding-inline: 20px;
}

.partners ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
}

.partners ul li {
  display: flex;
  border-left: 1px solid var(--c2);
  padding: 40px 0;
}

.partners ul img {
  margin: 0 auto;
}

.partners ul li:first-child,
.partners ul li:nth-child(5) {
  border-left: initial;
}

.partners ul li:nth-child(n + 5) {
  border-top: 1px solid var(--c2);
}

@media (max-width: 1024px) {
  .partners ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .partners ul li:nth-child(n + 3) {
    border-top: 1px solid var(--c2);
  }

  .partners ul li:nth-child(odd) {
    border-left: initial;
  }
}

@media (max-width: 650px) {
  .partners ul {
    grid-template-columns: 1fr;
  }

  .partners ul li {
    border-left: none;
  }

  .partners ul li:nth-child(2) {
    border-top: 1px solid var(--c2);
  }
}

@media (max-width: 440px) {
  .partners ul img {
    width: 120px;
  }
}
