.tech-bg {
  background-color: var(--c11);
  box-shadow: inset 0px 80px var(--c0), inset 0px -80px var(--c0);
}

.tech {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  padding-inline: 20px;
}

.tech-content {
  padding-block: 160px;
}

.tech-topics {
  display: flex;
  gap: 40px;
  align-items: center;
}

.tech-image {
  height: 100%;
}

.tech-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

@media (max-width: 1024px) {
  .tech {
    grid-template-columns: 1fr;
  }

  .tech picture {
    display: none;
  }
}

@media (max-width: 700px) {
  .tech-topics {
    flex-wrap: wrap;
  }
}
