.testimony {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;

  background-color: var(--p1);

  font-family: "Merriweather";
  font-weight: 900;
  font-size: 2.25rem;
  font-style: italic;
}

.testimony-image {
  height: 100%;
  width: 100%;
}

.testimony-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 0;
}

.testimony-content {
  padding: 40px 40px 80px 80px;
}

.testimony-mensage {
  max-width: 28ch;
  position: relative;
}

@media (max-width: 1200px) {
  .testimony {
    grid-template-columns: 1fr;
  }
  .testimony-image img {
    height: 600px;
  }

  .testimony-content {
    justify-self: center;
  }

  .testimony-mensage {
    max-width: none;
  }
}

@media (max-width: 700px) {
  .testimony-image img {
    height: 300px;
  }
}
