.testimony {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;

  background: var(--p1) url(../../img/dec/bottom-right-p.svg) no-repeat bottom
    20px right 20px;

  font-family: "Merriweather";
  font-weight: 900;
  font-size: 2.25rem;
  font-style: italic;
}

.testimony-image {
  height: 100%;
  width: 100%;
}

.testimony-image img {
  width: 100%;
  height: 100%;
  min-width: 280px;
  object-fit: cover;

  border-radius: 0;
}

.testimony-content {
  padding: 40px 40px 80px 80px;
}

.testimony-mensage {
  max-width: 28ch;
  position: relative;
}

@media (min-width: 1200px) {
  .testimony-image img {
    max-height: 520px;
  }
}

@media (max-width: 900px) {
  .testimony {
    grid-template-columns: 1fr;
  }
  .testimony-image img {
    height: 300px;
  }

  .testimony-content {
    justify-self: center;
  }

  .testimony-mensage {
    max-width: none;
  }
}

@media (max-width: 440px) {
  .testimony {
    font-size: 2rem;
    background: var(--p1);
  }
  .testimony-content {
    padding: 20px;
  }
}
