.spc-004 {
  margin-bottom: 4px;
}

.spc-008 {
  margin-bottom: 8px;
}

.spc-012 {
  margin-bottom: 12px;
}

.spc-016 {
  margin-bottom: 16px;
}

.spc-020 {
  margin-bottom: 20px;
}

.spc-024 {
  margin-bottom: 24px;
}

.spc-032 {
  margin-bottom: 32px;
}

.spc-036 {
  margin-bottom: 36px;
}

.spc-040 {
  margin-bottom: 40px;
}

.spc-048 {
  margin-bottom: 48px;
}

.spc-060 {
  margin-bottom: 60px;
}

.spc-072 {
  margin-bottom: 72px;
}

.spc-080 {
  margin-bottom: 80px;
}

.spc-120 {
  margin-bottom: 120px;
}

.spc-160 {
  margin-bottom: 160px;
}

.spc-200 {
  margin-bottom: 200px;
}
