.budget {
  display: grid;
  grid-template-columns: 5fr 7fr;
  margin-inline: auto;
  padding: 20px;
}

.budget h3 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}

.budget h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 4px;
  left: -12px;
  background: var(--p1);
  position: absolute;
}

.budget-product,
.budget-data {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* PRODUCT COLUMN */

.budget-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background: var(--c12) url(../../img/dec/bottom-left.svg) no-repeat bottom
    20px left 20px;
  border-radius: 4px 0 0 4px;
  align-content: start;
}

.budget-product > * {
  grid-column: 1/-1;
}

/* Estilização Produt Columns  */

.budget-product label {
  font: 400 1rem/1.5, "Poppins", sans-serif;
  color: var(--c4);

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 12px 16px;
  background-color: var(--c12);
  border: 1px solid transparent;
  border-radius: 4px;

  cursor: pointer;
}

.budget-product label:hover {
  background-color: var(--c9);
}

.budget-product input:focus + label {
  box-shadow: 0 0 0 2px var(--p1);
  border-color: var(--p1);
}

.budget-product input:checked + label {
  background-color: var(--c0);
  color: var(--c11);
}

.budget-product > label {
  grid-column: initial;
  display: flex;
  align-items: center;
}

.budget-product input {
  /* Reset do estilo do input, sem perder o A11y */
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.budget-product label::before {
  /*Bolinha do Input */
  content: "";
  display: inline-block;
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  margin-right: 8px;
  border: solid 1px var(--c6);
  border-radius: 50%;
}

.budget-product input:checked + label::before {
  /*Bolinha do Input Checado */
  border-color: var(--c7);
  background: radial-gradient(closest-side, var(--c7) 30%, transparent 50%);
}

/* Aparição dos Conteúdos */

.budget-content {
  display: none;
}

#bikcraft-choice:checked ~ #budget-bikcraft,
#insurance-choice:checked ~ #budget-insurance {
  display: block;
}

/* PRODUCT CONTENT - STYLES */

.budget-content label span {
  display: none;
}

.budget-content input:checked + label span {
  display: inline-block;
}

.budget-content input + label {
  margin-top: 20px;
  margin-bottom: 20px;
}

.budget-details {
  background: var(--c0);
  padding: 10px;
  display: none;
  grid-template-columns: 1fr 1fr;
  border-radius: 4px;
  align-items: center;
}

.budget-details img[src$="jpg"] {
  width: 100%;
  height: auto;
}

.budget-details li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.budget-details li img {
  margin-right: 8px;
}

/* Aparição de Detalhes do Conteúdo*/

#magic-choice:checked + label + #detail-magic,
#nimbus-choice:checked ~ #detail-nimbus,
#nebula-choice:checked ~ #detail-nebula {
  display: grid;
}

/* DATA COLUMN */

.budget-data {
  background: var(--c0) url(../../img/dec/bottom-right.svg) no-repeat bottom
    20px right 20px;
  border-radius: 0 4px 4px 0;
}

.budget-data .delivery {
  display: grid;
  gap: 20px;
}

.terms {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1000px) {
  .budget {
    grid-template-columns: 1fr;
  }

  .budget-product {
    border-radius: 4px 4px 0 0;
    background-image: none;
  }

  .budget-data {
    border-radius: 0 0 4px 4px;
    background-image: none;
  }
}

@media (max-width: 680px) {
  .budget-product,
  .budget-details {
    grid-template-columns: 1fr;
  }

  .budget-data .delivery {
    display: block;
  }
}
